.lmj-banner {
  position: relative;
	color: black;
	text-align: right;
	padding: 42px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.lmj-title {
	padding-right: 29px;
}

.lmj-logo {
  padding-left: 20px;
	height: 30px;
	width: 34px;
  margin-top: 5px;
}

.lmj-reco{
  position: absolute;
  padding-top: 70px;
}
